[Unit]
After=systemd-tmpfiles-setup.service
Before=docker.service

[Mount]
What=/run/docker/lib
Where=/var/lib/docker
Type=none
Options=auto,bind

[Install]
RequiredBy=docker.service
